.TMv_InstaFeed {
	display:block;
	display: flex;
	justify-content: space-between;
	
	
	
	//&:hover a:not(:hover) {
	//	opacity: 0.6;
	//}
	//
	
	a {
		display: block;
		float: left;
		
		
		flex: 1 1 auto;
		text-decoration: none !important;
		margin-bottom: 20px;
		cursor: pointer;
		width: 32%;
		margin-right: 2%;
		
		// BORDERED VERSION
		//width:calc(32% - 12px);
		//border:1px solid #FFF;
		//padding:5px;
		
		&:hover {
			//	border-color: #999;
		}
		
		&:nth-child(3n) {
			margin-right: 0;
		}
		
		&:nth-child(3n+1) {
			clear: left;
		}
		
		img {
			width: 100%;
			height: auto;
			padding-bottom: 10px;
		}
		
		.caption {
			display: block;
			font-size: 14px;
			line-height: 1.3em;
			padding-bottom: 5px;
		}
		
		.response_block {
			display: block;
			
		}
		
		.likes, .comments {
			display: inline-block;
			border: 1px solid #000;
			padding: 4px;
			margin-right: 5px;
			border-radius: 3px;
		}
		
		// SINGLE COLUMN LAYOUT
		// Based on size of photo coming from Insta
		@media only screen and (max-width: 606px) {
			width: 100%;
			margin-right: 0px;
		}
	}
}